<%- include("header.ejs") %>

<div class="content">
<h1>Contact</h1>
<p>
    It is so appreciating that a first year student take the decode c++
    batch of data structure and algorithm with very basic
    It is so appreciating that a first year student take the decode c++
    batch of data structure and algorithm with very basic
    i also going to participate some events in Google developers group i also going to participate some events in Google developers group 
</p>
</div>

<%- include("footer.ejs") %>
