</main>
<link rel="stylesheet" href="styles/style.css">
<footer class="green bg-image">
    
    <div class="row  cen">
        
    <div class="col">
        
        <table class="spacing tablespacing">
        <tr >
            <th>shop matcha</th><th>Learn </th><th>Blog</th>
        </tr>
        <tr >
            <td>Trust</td><td>Recipies</td><td>Story</td>
        </tr>
        <tr>
            <td>Trial</td><td>content</td><td>Affilate</td>
        </tr>
        <tr>
            <td>wholesale</td><td>health</td> <td>sign in</td>
        </tr>
    </table>
    </div>
    <div class="col content">
        <h4>Let's Stay connected</h4>
        <p>Enter your Email unlock all</p>
        <form>
            <input type="email" >
            <input type="submit">
        </form>
        <h6>Follow us</h6>
        <ul>
            <li>LinkedIn |</li>
            <li>Facebbok |</li>
            <li>Github</li>

        </ul>
    </div>
    
</div>

</footer>
</body>
</html>