<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dailyjournal</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <!-- header -->
    <header>
    <nav class="navbar  nav bg-body-tertiary">
        <div class="pad content green container-fluid">
            <button class="navbar-brand nav-link" onclick="window.location.href='/dailyjournal' " href="#"><h2>Dailyjournal</h2></button>
            <div class="navbar  right">
                <button class="nav-link active active-a" onclick="window.location.href='/home' ">Home</button>
                <button class="nav-link active active-a" onclick="window.location.href='/about' ">about us</button>
                <button class="nav-link active active-a" onclick="window.location.href='/contact' ">contact us</button>
            </div>
        </div>
    </nav>
</header>
<main>
    