<%- include("header.ejs") %>
<div class="content">
<h1>Home</h1>
<p>It is so appreciating that a first year student takes the Decode C++
    batch of data structure and algorithm with a very basic understanding.
    I am also going to participate in some events in the Google Developers Group.
</p>
</div> 
<div class="content">
<ul>
<% if (Blog.length > 0) { %>
    <% for (let i = 0; i < Blog.length; i++) { %>
        <li>
            <%const index=i%>

            <h3><a href=""><%= Blogheading[i] %></a></h3>
            <p><%= Blog[i] %></p>
        </li>
        <br>
    <% } %>
<% } else { %>
    <li><strong>No Blogs</strong></li>
<% } %>
</ul>
</div>
<%- include("footer.ejs") %>
